<!DOCTYPE html>
<html ng-app="zaikoApp">
<head>
	<title>Zaiko</title>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<meta charset="utf-8">
</head>
<body ng-controller="adminController">
	<h1>Keräyslistat</h2>
	<table>
		<tr>
			<th>Asiakas</th>
			<th>Tuotteet</th>
			<th>Työntekijä</th>
			<th>Tila</th>
			<th>Lisätiedot</th>
			<th>Poista</th>
		</tr>
		<tr ng-repeat="(i, list) in lists">
			<td>{{list.client}}</td>
			<td>{{list.items.length}}</td>
			<td>{{list.employee.name}}</td>
			<td my-done="list" employee="list.employee"></td>
			<td><a href="" ng-click="showItems(i)">Lisätiedot</a></td>
			<td><a href="" ng-click="removeList(list._id, i)">Poista</a></td>

		</tr>
		<tr>
			<td><input type="text" ng-model="newListClient" placeholder="Client"></td>
			<td></td>
			<td></td>
			<td></td>
			<td><a href="" ng-click="addList()">Lisää uusi</a></td>
		<tr>
	</table>
	<h1>Työntekijät</h2>
	<table>
		<tr>
			<th>Nimi</th>
			<th>Poista</th>
		</tr>
		<tr ng-repeat="(i, employee) in employees">
			<td>{{employee.name}}</td>
			<td><a href="" ng-click="removeEmployee(employee._id, i)">Poista</a></td>
		</tr>
		<tr>
			<td><input type="text" ng-model="newEmployee" placeholder="Nimi"></td>
			<td><a href="" ng-click="addEmployee()">Lisää uusi</a></td>
		</tr>
	</table>
	<div ng-show="showModal">
		<div class="mask"></div>
		<div class="modal">
			<a href="" ng-click="showModal=false">Sulje</a>
			<p><strong>Asiakas: </strong>{{lists[currentList].client}}</p>
			<p>
				<strong>Työntekijä: </strong>
				<select ng-options="employee._id as employee.name for employee in employees" ng-model="currentEmployee" ng-hide="lists[currentList].done"></select>
				<span ng-show="lists[currentList].done">{{lists[currentList].employee.name}}</span>
			</p>
			<p><strong>Tilauksen arvo: </strong>{{lists[currentList].revenue | fixedTwo}} €</p>
			<p><strong>Tilauksen paino: </strong>{{lists[currentList].weight | fixedTwo}} kg</p>
			<button role="button" ng-click="markDone()" ng-hide="lists[currentList].done || !lists[currentList].employee">Merkitse kerätyksi</button>
			
			<p>Tuotteet</p>

			<table>
				<tr>
					<th>Nimi</th>
					<th>Tuotekoodi</th>
					<th>Määrä</th>
					<th>Yksikköpaino</th>
					<th>Pakkauskoko</th>
					<th>Hinta</th>
					<th>Sijainti</th>
				</tr>
				<tr ng-repeat="(i, item) in lists[currentList].items">
					<td>{{item.name}}</td>
					<td>{{item.code}}</td>
					<td>{{item.amount}}</td>
					<td>{{item.weight}}</td>
					<td>{{item.packageSize}}</td>
					<td>{{item.price}}</td>
					<td>{{item.location}}</td>
				</tr>
				<tr ng-hide="lists[currentList].done">
					<td><input type="text" ng-model="newItem.name" placeholder="Name"></td>
					<td><input type="text" ng-model="newItem.code" placeholder="Code"></td>
					<td><input type="number" ng-model="newItem.amount"</td>
					<td><input type="number" ng-model="newItem.weight"</td>
					<td><input type="number" ng-model="newItem.packageSize"</td>
					<td><input type="number" ng-model="newItem.price"</td>
					<td><input type="textr" ng-model="newItem.location"</td>
				</tr>
			</table>
			<a href="" ng-click="addItem()" ng-hide="lists[currentList].done">Lisää uusi tuote</a>
		</div>
	</div>
	<script src="js/app.js" type="text/javascript"></script>
</body>